*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{

}

a{
	text-decoration: none;
}

div#header{
	width: 100%;
	height:50px;
	background-color: #2c3e50;
	margin: 0 auto;
}

.logo{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.logo a{
	font-size: 1.3em;	
	color: #fff;
}

div#container{
	width: 100%; 
	margin:0 auto;
}

.sidebar{
	width: 250px;
	height: 100%;
	background-color: #171717;
	float: left;
}

.content{
	width: auto;
	margin-left: 250px;
	height: 100%;
	padding: 15px;
	background-color: #B1ABAB;
}

ul#nav{

}

ul li{
	list-style: none;
}

ul li a{
	color: #ccc;
	display: block;
	padding: 10px;
	font-size: 0.8em;
	border-bottom:1px solid #0A0A0A;
	-webkit-transition: 0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
}
ul#subjectList li a,ul#textbooksList li a{
	padding-left: 35px;
}

ul#subjectList,ul#textbooksList{
	display: none;
}

ul li a:hover{
	background-color: #030303;
	color: #fff;
	padding-left: 25px;
}

.selected{
	background-color: #030303;
	color: #fff;
	font-weight: bolder;
}

.content p{
	color: #424242;
	font-size:0.73em;
}

div#box,div#textbooks{
	margin-top: 15px;
}

div#box .box-top,div#textbooks .textbooks-top{
	color:#fff;
	text-shadow: 0px 1px #000;
	background-color: #2980b9;
	padding: 5px;
	font-weight: 300px;
}

div#box .box-panel ,div#textbooks .textbooks-top{
	padding: 15px;
	background: #fff;
}


a.mobile{
	display: block;
	color: #fff;
	background-color: #000;
	text-align: center;
	padding-bottom: 7px;
	display: none;
}

a.mobile:active,#nav a:active {
	background-color: #4a4a4a;
}
div#subjectList{
	display: none;
}
@media only screen and (max-width: 500px){
	.sidebar{
		width: 100%;
		height: auto;
		display: none;
	}
	a.mobile{
		display: block;
	    -webkit-transition: 0.2s;
	    -moz-transition:0.2s;
	    -o-transition:0.2s;
	}
	.content {
		margin-left: 0px;
	}
}

.card{
	width:17.3em;
	height:auto;
	background-color: blue;
	color:white;
	padding:16px;
	border-radius: 10px;
	float: left;
	margin: 10px;
}

.card:hover{
	cursor: pointer;
	box-shadow:5px 15px 15px rgba(0, 0, 0, 0.83)
}

.glyphicon{
	float: right;
	margin-top: -40px;
	font-size:25pt;
}

hr{
	background-color: aqua;
	border-bottom: 1xp solid blue;
}

body {
    margin: 0;
}

ul#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
}
ul#header li {
    float: left;
}

ul#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#header li a:hover:not(.active) {
    background-color: #111;
}

ul#header .active {
    background-color: #4CAF50;
}

ul#sideBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul#sideBar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul#sideBar li a.active {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}

ul#sideBar li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
}
.space{
	margin-top: 50px;
}

.icon-bar{
	color: white;
}

.usernames{
	margin-top: -30px;
	font-size: 25px;
}

button{
	background-color:transparent;
	outline: none;
	border: none;
}

button:hover{
	color: grey;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #832176;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

a:hover{
	text-decoration: none;
}