<div ng-controller="BooksContentController">
	<h1>Grade 10 Textbooks</h1>
	<p>paragraph</p>
	<div id="textbooks">
		<div class="textbooks-top">Book Title</div>
		<div class="textbooks-panel"><img src="#" alt="book"/></div>
	</div>	
	<div id="textbooks">
		<div class="textbooks-top">Book Title</div>
		<div class="textbooks-panel"><img src="#" alt="book"/></div>
	</div>	
	<div id="textbooks">
		<div class="textbooks-top">Book Title</div>
		<div class="textbooks-panel"><img src="#" alt="book"/></div>
	</div>
</div>